body {
  margin: 0;
  font-family: sans-serif;
}

#container {
  background-color: rgb(254, 254, 254);
  padding: 5vw;
  position: relative;
  overflow-y: auto;
  width: 50vw;
  height: 50vh;
  top: 10vh;
  margin: auto;
  border: 1px solid black;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#button {
  padding: 1vh;
  position: fixed;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid;
  cursor: pointer;
}

.disable {
  color: rgb(161, 161, 161);
}

.message-bubble {
  border-radius: 30px;
  padding: 2vh 2vw;
  width: fit-content;
  max-width: 20vw;
  border: 1px solid black;
}

.message-row {
  width: 100%;
  padding: 1vh;
  display: flex;
  flex-direction: row;
}

.sender-row {
  justify-content: flex-end;
}

.receiver-row {
  justify-content: flex-start;
}

.sender {
  background-color: #1982fc;
}

.receiver {
  background-color: #e1e1e1;
}
